{% extends 'base.html' %}

{% block title %}{{ block.super }}Detail page of problem{% endblock %}


{% block content %}
    <div class="problem__detail">
        <h2 class="text-center">{{ problem.title }}</h2>
        
        <!--
            todo -> make the list below responsive on mobile
        -->
        <ul class="problem-info-list">
            <li class="problem-info-list-item">
                <p class="item-key">Posted</p>
                <p class="item-value">{{ problem.created|date:"d, M Y" }}</p>
            </li>
            <li class="problem-info-list-item">
                <p class="item-key">Deadline</p>
                <p class="item-value">{{ problem.deadline|date:"d, M Y" }}</p>
            </li>
            <li class="problem-info-list-item">
                <p class="item-key">Difficulty</p>
                <p class="item-value">{{ problem.get_difficulty_display }}</p>
            </li>
            <li class="problem-info-list-item">
                <p class="item-key">Points</p>
                <p class="item-value">{{ problem.points_worth }}</p>
            </li>
        </ul>
    </div>

    <h3 class="mt-5">Problem Description</h3>
    <p>{{ problem.problem_description }}</p>

{% endblock content %}